.single-game {
  text-align: center;
  color: #3c3c3c;
}

.image_container {
  display: flex;
  justify-content: center;
	margin-bottom: 0;
}

.game-image {
	width: 25vh;
  margin: 50px 0px 10px 0px;
}

.all-games {
  text-align: center;
}

.game-title {
  text-align: center !important;
  text-decoration: none;
  background-color: #524cb6;
  border-radius: .1em;
  padding: 18px 20px 20px 20px;
  margin: 50px 30px !important;
  color: #fff;
  font-size: 1.5em;
}

.game-title:hover {
  cursor: pointer;
	text-decoration: none !important;
	background-color: #413c94;
	transition: ease-in-out 200ms;
	color: #fff;
}

.all-games {
  display: flex;
  justify-content: center;
	flex-wrap: wrap;
}

.search-container {
	align-self: center;
	margin: 25px 0px;
}

.search-button {
	text-decoration: none;
  background-color: #4cb68d;
  padding: 2px 8px 2px 8px;
  color: #fff;
	border: 1px solid #3e9674;
}

.sort-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-right: 2px;
}

.sort-container h6 {
	margin: 1px 15px 0px 0px;
}

.game-container {
	margin: 40px;
	max-width: 30%;
	border: 2px solid #343a40;
	border-radius: .2em;
}

.game-designer {
	margin-top: 40px;
}

.game-description {
	padding: 7px 20px 10px 20px;
	margin-top: 0px;
}

.new-container {
  display: flex;
	justify-content: space-between;
	margin: 50px 55px 10px 50px;
}

.review-container {
	display: flex;
	justify-content: center;
	margin: 40px 60px 10px 60px;
}

.register-game, .review-button {
	text-align: center !important;
	align-self: flex-start;
  text-decoration: none;
  background-color: #4cb68d;

  padding: 14px 20px 16px 20px;
  margin: 30px 0px;
  color: #fff;
	font-size: 1.2em;
	border: 1px solid #3e9674;
	border-width: .5px .5px 3px .5px;
}

.register-game:hover, .review-button:hover {
  cursor: pointer !important;
  text-decoration: none !important;
  background-color: #3e9674 !important;
	transition: ease-in-out 200ms !important;
	color: #fff !important;
}

.new-game {
  display: grid;
  justify-content: center;
  margin: 20px 0px 50px 0px;
  color: #3c3c3c;
}

.form-style-5 {
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: 'futura';
}

.form-style-5 fieldset {
	border: none;
}

.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}

.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="file"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: 'futura';
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="file"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
	background: #d2d9dd;
}

.form-style-5 select {
	height: 50px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"] {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #4cb68d;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #3e9674;
	border-width: .5px .5px 3px .5px;
	margin-bottom: 10px;
}

.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover {
  background: #3e9674;
	cursor: pointer;
	transition: ease-in-out 200ms !important;
}

.game-reviews {
	width: 50%;
	margin: 0 auto 50px auto;
}

.single-review {
	background-color: #eeeeee;
	border-bottom: 2px solid #dddddd;
	border-right: 2px solid #dddddd;
	border-radius: .2em;
	margin: 5px 50px;
	padding: 20px;
	text-align: left;
}

.category-grid {
	display: flex;
	justify-content: center;
}

.category-grid p {
	margin: 0px 10px 15px 10px;
	padding: 0px 5px;
	color: #524cb6;
	font-size: 1.2em;
	font-weight: 600;
}


.rating-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 35%;
	margin: 25px auto 40px auto;
}

.average-rating {
	padding: 15px;
}

.rating-selector {
	padding: 15px;
}

.rating-save {
  text-align: center !important;
  text-decoration: none;
  background-color: #fff;

  padding: 2px 12px 3px 12px;
  margin: 30px 0px;
  color: #343a40;
	font-size: 1.2em;
	border: 2px solid #343a40;
	border-radius: .2em;
}

.rating-save:hover {
  text-decoration: none;
  background-color: #343a40;
  color: #fff;
	transition: ease-in-out 200ms;
}

.sort-select {
	padding: 5px 10px 5px 5px;
}