.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(172, 172, 172);
  margin: 0;
  padding: 20px 50px;
  color: #242424;
}

.navbar__item {
  list-style-type: none;
  padding: 10px 15px;
}

.nav-link {
  background-color: #524cb6 !important;
  border-radius: .2em;
  color: rgb(225, 225, 225);
  padding: 9px 15px 10px 15px;
}

.log-link {
  background-color: #bb5252 !important;
  border-radius: .2em;
  color: rgb(225, 225, 225);
  padding: 9px 15px 10px 15px;
}

.log-link:hover {
  cursor: pointer !important;
  text-decoration: none !important;
  background-color: #a74949 !important;
	transition: ease-in-out 200ms !important;
	color: #fff !important;
}

.navbar__item {
  text-decoration: none !important;
}

.nav-link:hover {
  cursor: pointer !important;
  text-decoration: none !important;
  background-color: #413c94 !important;
	transition: ease-in-out 200ms !important;
	color: #fff !important;
}